# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
DerivedData/
.build/
*.ipa
*.dSYM.zip
*.dSYM

# Firebase
GoogleService-Info.plist

# Swift Package Manager
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
